<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
    <div style="text-align: right;">
        <a href="{% url 'Home:all_records' %}">Show  All Records</a>
        
    </div><br>

<h1> Enter your Information</h1>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            Name  : {{form.name}}<br><br>
            Email : {{form.email}}<br><br>
            Phone : {{form.phone}}<br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>