<div>
	<form>
		<label for="doc_name">Search By name </label>
		<input type="text" id="doc_name" placeholder="Search By Documnet name" name="doc_name">
		<button  class="btn btn-primary" type="submit">Search</button>
	</form>
	<br><br>
	<form>
		<label for="month">Search by Month</label>
		<input type="text" id="month" placeholder="Search By Month" name="month">
		<button  class="btn btn-primary" type="submit">Search</button>
	</form>
	<br><br>
	<form>
		<label for="year">Year</label>
		<input type="text" id="year" placeholder="Search By Year" name="year">
		<button  class="btn btn-primary" type="submit">Search</button>
	</form>
	<br><br>
	<form>
		<label for="from_date">From</label>
		<input type="date" id="from_date" placeholder="from" name="from">
		<label for="to_date">To</label>
		<input type="date" id="to_date" placeholder="to" name="to">
		<button  class="btn btn-primary" type="submit">Search</button>
	</form>
</div>